<div class="error-page">
    <div class="error-page__title">
        <h1>{{title}}</h1>
        <img src="{{icon}}" alt="sad emoji" />
    </div>
    <p>{{message}}</p>
    <a href="{{linkHref}}">{{linkText}}</a>
</div>
