<div class="auth-layout">
    <div class="auth-layout__image-section">
        <img src="{{{imageSrc}}}" />
    </div>
    <div class="auth-layout__form-section">
        <div class="form">
            <h1>Login</h1>
            {{{loginInput}}}
            {{{passwordInput}}}
            {{{submitButton}}}
            <p>{{{createAccountLink}}}</p>
        </div>
    </div>
</div>
