<div class="profile-page">
    {{{sidebar}}}
    <main class="profile-page__content">
        <form class="profile-form">
            <div class="profile-form__avatar">
                <img id="avatarImage" class="profile-form__avatar-image" src="{{{avatar}}}" alt="Avatar" />
                <div class="profile-form__avatar-overlay">Edit photo</div>
            </div>
            <input type="file" id="avatar" accept="image/jpeg, image/png, image/gif, image/webp" class="profile-form__avatar-input" />
            <h1>{{{display_name}}}</h1>

            <div class="profile-form__info">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
            </div>

            <button type="button" id="saveData" style="display:none;" class="profile-form__button">Save</button>
            <button type="button" id="editData" class="profile-form__button">Edit Data</button>
            <div class="profile-form__info-line"></div>
            <button type="button" id="editPassword" class="profile-form__button">Edit Password</button>
            <div class="profile-form__info-line"></div>
            <button type="button" id="exit" class="profile-form__button-exit">Exit</button>
        </form>
        <div id="passwordModal" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Change Password</h2>
                <form class="modal-content__form" id="changePasswordForm">
                    <input type="password" id="oldPassword" class="input__field" placeholder="Old Password" required />
                    <input type="password" id="newPassword" class="input__field" placeholder="New Password" required />
                    <input type="password" id="confirmPassword" class="input__field" placeholder="Confirm Password" required />
                    <button type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </main>
</div>
