<div class="auth-layout">
    <div class="auth-layout__image-section">
        <img src="{{{imageSrc}}}" />
    </div>
    <div class="auth-layout__form-section">
        <div class="form">
            <h1>Registration</h1>
            {{{emailInput}}}
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{lastNameInput}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{confirmPasswordInput}}}
            {{{submitButton}}}
            <p>{{{singInLink}}}</p>
        </div>
    </div>
</div>
